# Скопируй этот файл в .env и заполни своими значениями
# НЕ загружай .env на GitHub!

TELEGRAM_BOT_TOKEN=сюда_токен_от_botfather
TELEGRAM_CHAT_ID=сюда_твой_telegram_id

ANTHROPIC_API_KEY=сюда_anthropic_ключ

FB_PAGE_ID=100654001590699
FB_PAGE_ACCESS_TOKEN=сюда_facebook_page_token

IG_ACCOUNT_ID=17841431976211919
INSTAGRAM_ACCESS_TOKEN=сюда_instagram_token
